@media only screen and (max-width: 600px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

*{
    box-sizing: border-box;

}

body{
    background-color: #cbcbcb;
    color: black;
}

header{
    background-color: #0B1849;
    color: #cbcbcb;
}

nav{
    background-color: #124d1c !important;
}

ul{
    display: flex;
    list-style: none;
}

li{
    text-decoration: none;
}

.cont{
    text-decoration: none;
    color: black;
}

.menu{
    text-decoration: none;
    color: #cbcbcb;
}

footer{
    background-color: #0B1849;
    color: #cbcbcb;
}

small{
    font-size: x-small;
}