{% extends 'plantilla.html' %}

{% block titulo %}
    Acerca de
{% endblock %}

{% block pagina %}
    Acerca de nosotros
{% endblock %}

{% block contenido %}
    <p>
        Más allá del lucro, esta página está creada con el objetivo de crear comunidad. Esta página no
        pretende ser un punto de venta ni una tienda en línea, sino convertirse en un punto de encuentro
        virtual con un tema común en concreto: el coleccionismo de Pokémon TCG.
    </p>

    <h2>Mi historia con el coleccionismo de TCG</h2>
    <p>
        Toda la vida he pensado que las personas necesitan tener una colección de algo, cualquier cosa. Y 
        durante mucho tiempo yo no tuve una. Conocí el juego de cartas de Pokémon gracias a un juego incluido 
        en el emulador de la GameBoy incluido en la suscripción Online de la Nintendo Switch. Me gustó tanto
        que comencé a involucrarme en el TCG y eso me llevó a comenzar a coleccionar algunas cartas específicas.
        <br> <br> Cuando me decidí a comenzar una colección, no tenía claro por dónde empezar. Algunos videos y
        tutoriales me dieron una guía bastante clara que me llevó a decidir comenzar por algunos Pokémones
        específicos y algunos Ilustradores cuyo estilo de dibujo me parecía impresionante.
    </p>
    
{% endblock %}