{% extends 'plantilla.html' %}

{% block titulo %}
    Iniciar sesion
{% endblock %}

{% block pagina %}
    Iniciar sesion
{% endblock %}

{% block menu %}
    <ul class="nav nav-underline nav-fill">
        <li class="nav-item">
            <a class="nav-link " href="/" class="menu">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/registro" class="menu">Registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/login" class="menu">Inciar sesion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/perfil" class="menu">Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/post" class="menu">Anadir publicacion</a>
        </li>
    </ul>
{% endblock %}

{% block contenido %}
    <div>
        <form action="/login" method="post">
            <label for="correo">Correo: </label>
            <input type="email" name="correo" id="correo">
            <br>
            <label for="pass">Contrasena: </label>
            <input type="password" name="pass" id="pass">
            <br>
            <input type="submit" value="Iniciar Sesion">
        </form>
    </div>
{% endblock %}