<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/estilos.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        CA | {% block titulo %}
        {% endblock %}
    </title>
</head>

<body>
    <header>
        <h1>CardAlley</h1>
        <h2>
            {% block pagina %}
            {% endblock %}
        </h2>
    </header>

    <nav>
        <ul>
            <li>
                <a href="/" class="menu">Inicio</a>
            </li>
            <li>
                <a href="/registro" class="menu">Registro</a>
            </li>
            <li>
                <a href="/login" class="menu">Inciar sesion</a>
            </li>
            <li>
                <a href="/perfil" class="menu">Perfil</a>
            </li>
            <li>
                <a href="/post" class="menu">Anadir publicacion</a>
            </li>
        </ul>
    </nav>

    <main>
        {% block contenido %}
            
        {% endblock %}
    </main>
</body>

<footer>
    <ul>
        <li>
            <a href="/contacto" class="menu">Contacto</a>
        </li>
        <li>
            <a href="/about" class="menu">Acerca de</a>
        </li>
    </ul>
</footer>
</html>