<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css" integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap-utilities.min.css" integrity="sha512-7flOuFMKyEm+v9s00sIGnJmzT8WXx9sRYDdA+haxzjQv85xAYiY7+GbpC0I1wmrHJJ5VWQI61SForf7pnPQz8Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/js/all.min.js" integrity="sha512-2+f4MxT8KwN4tUzw6/hv9kxKiix603S9kmBcix+0y0dBhd6zdaPOV1Thf1DM886pFZG+cAtmshBi8UBpo6m3JA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/js/brands.min.js" integrity="sha512-+tqlT9MG+P9Cfr3eMSpmGotMMBtM5CYfRVwnrU39EAddEfOyH2yrStiEZ/yU57B35reTdH7CbqxxJibmxXy65Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        CA | {% block titulo %}
        {% endblock %}
    </title>
</head>

<body>
     

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fa-solid fa-user-secret"></i>
                CardAlley
            </a>
            {% block menu %}
            
            {% endblock %}
        </div>
    </nav>

    <main>
        <h1>
            {% block pagina %}
            
            {% endblock %}
        </h1>
        {% block contenido %}
            
        {% endblock %}
    </main>
</body>

<footer class="bg-body-tertiary border-top pt-5" >
    <div class="container">
      <div class="row g-4">
        <div class="col-lg-5">
          <h5><i class="fa-solid fa-user-secret"></i>CardAlley</h5>
          <p class="text-body-secondary small mb-0">Un espacio para coleccionistas.</p>
        </div>
        <div class="col-6 col-lg-2">
          <h6 class="text-uppercase small fw-bold mb-3">Perfil</h6>
          <ul class="list-unstyled small">
            <li class="mb-2"><a class="link-secondary text-decoration-none" href="/perfil">Mi perfil</a></li>
            <li class="mb-2"><a class="link-secondary text-decoration-none" href="/login">Iniciar sesión</a></li>
            <li class="mb-2"><a class="link-secondary text-decoration-none" href="/registro">Registrarse</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2">
          <h6 class="text-uppercase small fw-bold mb-3">Acerca de</h6>
          <ul class="list-unstyled small">
            <li class="mb-2"><a class="link-secondary text-decoration-none" href="/contacto">Contacto</a></li>
            <li class="mb-2"><a class="link-secondary text-decoration-none" href="/about">Acerca de nosotros</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2">
          <h6 class="text-uppercase small fw-bold mb-3">Recursos</h6>
          <ul class="list-unstyled small">
            <li class="mb-2"><a class="link-secondary text-decoration-none" href="/admblog">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="border-top pt-3 mt-4 d-flex justify-content-between small text-body-secondary">
        <span>&copy; 2026 CardAlley.</span>
      </div>
    </div>
</footer>

</html>